* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: rgb(241, 229, 229);
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.gif-Container {
  display: inline-block;
  position: relative;
}
.image {
  width: 200px;
  max-width: 100%;
  border: 1px solid rgb(8, 8, 8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;

  visibility: hidden;
}

.container {
  background-color: rgb(255, 254, 252);
  border-radius: 5px;
  box-shadow: 1px 5px rgba(0, 0, 0, 0.4);
  width: 80%;
}

.header {
  background-color: rgb(241, 229, 229);
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
}
.header h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.form-body {
  margin-bottom: 8px;
  padding: 5px;
  position: relative;
  margin: 20px;
}
.form-body label {
  display: block;
  margin: 2px;
  text-align: center;
  width: fit-content;
  padding: 2px;
}

.form-body label.framework {
  width: 200px;
}
.form-body label.gender {
  width: 50px;
  margin: 10px;
  text-align: left;
}
.form-body label.framework-value {
  width: 100px;
}
.form-body input {
  border: 3px solid rgba(145, 126, 126, 0.315);
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  width: 100%;
}
.section-2-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.form-body input[type='range'] {
  border: none;
  padding: 0;
}

.form-body input[type='radio'] {
  width: 100%;
}
.form-body input[type='checkbox'] {
  width: 30px;
}

.form-body input[type='range'] {
  display: flex;
  width: 50%;
  visibility: hidden;
  cursor: pointer;
}
.form-body input#anothervalue {
  width: 40%;
}
.form-body .radios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-body small {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  visibility: hidden;
}
.form-body span {
  display: flex;
  visibility: hidden;
  justify-content: center;
  width: 50%;
}

.form-body ul {
  /* margin: 2px; */
  padding: 0;
  list-style: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.column1,
.column2 {
  width: 100%;
}

.form-body small#another {
  position: absolute;
  width: 150px;
  top: 13px;
}
.form-body section-2-item {
  display: flex;
  align-items: center;
}

.form-body small.framework.error {
  visibility: visible;
  color: rgb(211, 46, 46);
}
.form-body.error small {
  visibility: visible;
  color: rgb(211, 46, 46);
}
.form-control.success input {
  border-color: #2ecc71;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #33ccff;
  border-radius: 8px;
  width: 100px;
}

.button:hover {
  background-color: #008cba;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(108, 153, 212, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .column1,
  .column2 {
    width: 50%;
  }
}
